absl-py==2.1.0
asgiref==3.2.10
astunparse==1.6.3
certifi==2024.8.30
cfgv==3.4.0
charset-normalizer==3.4.0
distlib==0.3.9
dj-database-url==0.5.0
Django==4.2.16
filelock==3.16.1
flatbuffers==24.3.25
gast==0.6.0
google-pasta==0.2.0
grpcio==1.68.0
gunicorn==22.0.0
h5py==3.12.1
identify==2.6.2
idna==3.10
imageio==2.36.0
imutils==0.5.3
keras==3.6.0
libclang==18.1.1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
ml-dtypes==0.4.1
namex==0.0.8
nodeenv==1.9.1
numpy==2.0.2
opencv-python-headless==4.10.0.84
opt_einsum==3.4.0
optree==0.13.1
packaging==24.2
pillow==11.0.0
platformdirs==4.3.6
pre_commit==4.0.1
protobuf==5.28.3
psycopg2-binary==2.8.6
Pygments==2.18.0
pytz==2024.2
PyYAML==6.0.2
requests==2.32.3
rich==13.9.4
setuptools==75.5.0
six==1.16.0
sqlparse==0.5.2
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow_cpu==2.18.0
termcolor==2.5.0
typing_extensions==4.12.2
urllib3==2.2.3
virtualenv==20.27.1
Werkzeug==3.1.3
wheel==0.45.0
whitenoise==5.2.0
wrapt==1.16.0
