<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "partials/head.html" %}
        <title>
            {% block title %}
                Nepali Music Recommendation
            {% endblock title %}
        </title>
        <meta name="description"
              content="{% block meta_description %}Emotion based music player that suggests playlists based on your mood{% endblock meta_description %}">
        <meta name="keywords"
              content="{% block meta_keywords %}music player, emotion detection, mood music, playlist{% endblock meta_keywords %}">
    </head>
    <body>
        {% include "partials/navbar.html" %}
        {% block content %}
            {% include "partials/features.html" %}
        {% endblock content %}
        {% include "partials/footer.html" %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
        {% block extra_js %}
        {% endblock extra_js %}
    </body>
</html>
